.container {
  width: 100%;
  max-width: 550px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  padding: 20px;
  height: fit-content;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  color: #e74c3c;
  margin-bottom: 20px;
}
